@import url("https://fonts.googleapis.com/css?family=Baloo+2&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (min-width: 320px) {
  html {
    font-size: 55%; } }

@media (min-width: 374px) {
  html {
    font-size: 62.5%; } }

@media (min-width: 600px) {
  html {
    font-size: 65%; } }

@media (min-width: 800px) {
  html {
    font-size: 70%; } }

@media (min-width: 1000px) {
  html {
    font-size: 75%; } }

@media (min-width: 1400px) {
  html {
    font-size: 100%; } }

body {
  font-family: 'Baloo 2', cursive;
  font-size: 2rem;
  background-color: black; }

.main__footer {
  text-align: center;
  position: absolute;
  padding: 2rem;
  bottom: 0;
  width: 100%; }
  @media (orientation: landscape) and (max-height: 568px) and (min-width: 320px) {
    .main__footer {
      font-size: .5rem;
      padding: .5rem; } }
  .main__footer--home {
    color: #eee; }

.btn {
  text-decoration: none;
  display: block;
  cursor: pointer; }
  .btn--home {
    margin: 1.5rem 0;
    width: 90%;
    margin-left: 10%;
    background-image: linear-gradient(#1a1919, black);
    color: #eee;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #aaa;
    border-radius: 2.5rem; }
    .btn--home:nth-of-type(even) {
      margin-left: 0;
      margin-right: 3.5%; }
    @media (orientation: landscape) and (max-height: 568px) and (min-width: 320px) {
      .btn--home {
        width: 55%;
        margin: 1rem auto !important; } }
  .btn--done {
    font-family: inherit;
    color: currentColor;
    border: 1px solid currentColor;
    background-color: transparent;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    bottom: 13rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute; }
    @media (min-width: 320px) {
      .btn--done {
        width: 80%; } }
    @media (min-width: 515px) {
      .btn--done {
        width: 75%; } }
    @media (min-width: 700px) {
      .btn--done {
        width: 60%; } }
    @media (min-width: 1000px) {
      .btn--done {
        width: 45%; } }
    @media (min-width: 1300px) {
      .btn--done {
        width: 25%; } }

.main__story {
  text-align: left;
  line-height: 1.5;
  font-size: 2rem;
  transform: translateX(0%);
  transition: transform .4s; }
  @media (min-width: 370px) {
    .main__story {
      padding: 0 1rem 20rem 1rem; } }
  @media (min-width: 410px) {
    .main__story {
      padding: 0 1.25rem 23rem 1.25rem; } }
  @media (min-width: 610px) {
    .main__story {
      padding: 0 1.4rem 25rem 1.4rem; } }
  @media (min-width: 810px) {
    .main__story {
      padding: 0 1.6rem 27rem 1.6rem; } }
  @media (min-width: 900px) {
    .main__story {
      padding: 0 3rem 28rem 3rem; } }
  @media (min-width: 1000px) {
    .main__story {
      padding: 0 12rem 30rem 12rem; } }
  @media (min-width: 1200px) {
    .main__story {
      padding: 0 15rem 32rem 15rem; } }
  .main__story--hyphens {
    hyphens: auto;
    -webkit-hyphens: auto; }
  .main__story--menu-open {
    transform: translateX(-100%); }

.main {
  min-height: 100vh;
  background-color: #eee;
  position: relative; }
  .main--home {
    border-radius: 1rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.068), rgba(0, 0, 0, 0.507)), url("../bg.jpeg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover; }
    @media (min-width: 900px) {
      .main--home {
        background-image: url("../bg-big-screens.jpeg"); } }
    @media (orientation: landscape) and (max-height: 568px) and (min-width: 320px) {
      .main--home {
        border-radius: 2rem; } }
  .main__content {
    text-align: center; }
    @media (min-width: 320px) {
      .main__content {
        padding: 25% 5% 0 5%; } }
    @media (min-width: 560px) {
      .main__content {
        padding: 18% 5% 0 5%; } }
    @media (min-width: 700px) {
      .main__content {
        padding: 10% 5% 0 5%; } }
    @media (min-width: 1000px) {
      .main__content {
        padding: 7.5% 0 0 0; } }
    @media (orientation: landscape) and (max-height: 568px) and (min-width: 320px) {
      .main__content {
        padding: 1rem; } }
  .main__btns {
    font-size: 3.25rem;
    margin: auto; }
    @media (min-width: 300px) {
      .main__btns {
        width: 80%; } }
    @media (min-width: 900px) {
      .main__btns {
        width: 55%; } }
    @media (min-width: 1100px) {
      .main__btns {
        width: 30%; } }
    @media (orientation: landscape) and (max-height: 568px) and (min-width: 320px) {
      .main__btns {
        font-size: 2.5rem; } }

.main__heading {
  font-size: 5rem;
  letter-spacing: 1rem;
  margin-bottom: 1.5rem; }
  .main__heading span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem; }
    .main__heading span i {
      margin: 0 2rem; }

.main__line {
  width: 80%;
  margin: auto;
  overflow: visible;
  height: 3rem;
  border-style: solid;
  border-color: currentColor;
  border-width: 1px 0 0 0;
  border-radius: 2rem; }
  .main__line:before {
    display: block;
    content: "";
    height: 3rem;
    margin-top: -3.1rem;
    border-style: solid;
    border-color: currentColor;
    border-width: 0 0 1px 0;
    border-radius: 2rem; }

.main__header {
  z-index: 1000;
  opacity: 0;
  color: inherit;
  background-color: inherit;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all .3s;
  box-shadow: 0rem .5rem 1rem; }
  @media (min-width: 370px) {
    .main__header {
      padding: 2rem 3rem; } }
  @media (min-width: 370px) {
    .main__header {
      padding: 2rem 3rem; } }
  .main__header--active {
    opacity: 1;
    background-color: inherit;
    color: inherit;
    border-bottom: 1px solid black; }
  .main__header-progress {
    transition: color .3s; }
    .main__header-progress--done {
      color: #38ee14; }
  .main__header-font {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 625px) {
      .main__header-font {
        width: 20%; } }
    @media (min-width: 1100px) {
      .main__header-font {
        width: 15%; } }
    .main__header-font > * {
      color: inherit;
      appearance: none;
      background-color: transparent;
      border: none; }
  .main__header-option {
    text-decoration: none;
    color: inherit;
    font-size: 2.5rem;
    transition: all .3s; }
    .main__header-option:active {
      transform: scale(1.5); }

.main__menu {
  cursor: pointer;
  display: block;
  width: 6rem;
  height: 6rem;
  border: none;
  opacity: .8;
  border-radius: 50%;
  appearance: none;
  background-color: inherit;
  color: inherit;
  position: sticky;
  top: 86vh;
  left: 80vw;
  z-index: 10000;
  transform: rotate(0);
  transition: all .4s;
  font-size: 5rem; }
  @media (orientation: landscape) and (max-height: 568px) and (min-width: 320px) {
    .main__menu {
      font-size: 4.5rem;
      top: 77vh;
      left: 85vw; } }
  .main__menu--menu-open {
    transform: rotate(-180deg); }
  .main__menu-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 3rem;
    top: 0;
    position: fixed;
    padding: 4rem;
    height: 100vh;
    z-index: 1000;
    width: 100vw;
    transform: translateX(200%);
    background-color: inherit;
    transition: width .1s, transform .4s; }
    .main__menu-content-form {
      font-size: 2.5rem;
      margin: auto; }
      .main__menu-content-form input[type="checkbox"] {
        opacity: 0;
        display: none; }
      .main__menu-content-form input:checked ~ .label__check::after {
        background-color: inherit; }
      .main__menu-content-form button {
        cursor: pointer;
        font-family: inherit;
        width: 100%;
        color: currentColor;
        border: 1px solid currentColor;
        background-color: transparent;
        border-radius: 1rem;
        padding: 1rem 1.5rem;
        font-size: 2rem;
        transition: all .3s; }
        .main__menu-content-form button:hover {
          transition: translateY(1rem); }
      .main__menu-content-form-group {
        margin: 2rem 0; }
        .main__menu-content-form-group .select {
          border: none;
          outline: none;
          display: block;
          font-size: inherit;
          font-family: inherit;
          font-weight: 700;
          color: currentColor;
          line-height: 1;
          padding: 1rem 1.5rem 1rem 0;
          width: 100%;
          max-width: 100%;
          box-sizing: border-box;
          background-color: transparent;
          margin: 0;
          border-radius: .5em;
          -webkit-appearance: none;
          appearance: none;
          background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
          background-image: url("../arrow.svg");
          background-repeat: no-repeat, repeat;
          background-position: right .7em top 50%, 0 0;
          background-size: .65em auto, 100%; }
        .main__menu-content-form-group .label__check {
          position: relative; }
          .main__menu-content-form-group .label__check::after {
            display: inline-block;
            position: absolute;
            content: "";
            top: 50%;
            transform: translateY(-50%);
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            right: -3.5rem;
            background-color: currentColor; }
    .main__menu-content--menu-open {
      transform: translateX(0%); }

.main--default {
  color: #222831;
  background-color: #eee; }
  .main--default .main__header {
    color: #eee;
    background-color: #222831; }
    .main--default .main__header-progress--done {
      color: #239d60; }
  .main--default .main__menu-content-form input:checked ~ .label__check::after {
    background-color: #239d60; }
  .main--default .btn--done {
    border-color: #239d60;
    color: #239d60; }

.main--light {
  color: #222831;
  background-color: #fae7cb; }
  .main--light .main__header {
    color: #fae7cb;
    background-color: #222831; }
    .main--light .main__header-progress--done {
      color: #6db193; }
  .main--light .main__menu-content-form input:checked ~ .label__check::after {
    background-color: #6db193; }
  .main--light .btn--done {
    border-color: #6db193;
    color: #6db193; }

.main--dark {
  color: #eee;
  background-color: #222831; }
  .main--dark .main__header {
    border-color: rgba(238, 238, 238, 0.1); }
    .main--dark .main__header-progress--done {
      color: #49d292; }
  .main--dark .main__menu-content-form input:checked ~ .label__check::after {
    background-color: #49d292; }
  .main--dark .btn--done {
    border-color: #49d292;
    color: #49d292; }

.main--blood-moon {
  color: #e23e57;
  background-color: #1d1d24; }
  .main--blood-moon .main__header {
    color: #eee;
    background-color: #801336; }
    .main--blood-moon .main__header-progress--done {
      color: #b6fff9; }
  .main--blood-moon .main__menu-content-form input:checked ~ .label__check::after {
    background-color: #a5def1; }
  .main--blood-moon .btn--done {
    border-color: #a5def1;
    color: #a5def1; }
