.btn {
    text-decoration: none;
    display: block;
    cursor: pointer;

    &--home {
        margin: 1.5rem 0;
        width: 90%;
        margin-left: 10%;
        background-image: linear-gradient(rgb(26, 25, 25), black);
        color: #eee;
        border-bottom: 1px solid #eee;
        border-top: 1px solid #aaa;
        border-radius: 2.5rem;

        &:nth-of-type(even) {
            margin-left: 0;
            margin-right: 3.5%;
        }

        @media (orientation: landscape) and (max-height: 568px) and (min-width: 320px){
            width: 55%;
            margin: 1rem auto !important;
        }
    }

    &--done {
        font-family: inherit;
        color: currentColor;
        border: 1px solid currentColor;
        background-color: transparent;
        border-radius: 1rem;
        padding: 1rem 1.5rem;
        font-size: 2rem;
        bottom: 13rem;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;

        @media (min-width: 320px) {
            width: 80%;
        }

        @media (min-width: 515px) {
            width: 75%;
        }

        @media (min-width: 700px) {
            width: 60%;
        }

        @media (min-width: 1000px) {
            width: 45%;
        }

        @media (min-width: 1300px) {
            width: 25%;
        }
    }
}