.main__story {
    text-align: left;
    padding: 0 1rem 8rem 1rem;
    line-height: 1.5;
    font-size: 2rem;
    transform: translateX(0%);
    transition: transform .4s;

    &--hyphens {
        hyphens: auto;
        -webkit-hyphens: auto;
    }

    &--menu-open {
        transform: translateX(-100%);
    }
}